*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 50vw;
    margin: 10vh 25vw;
    border: 10px solid  black;
}

.container img{
    width: 100%;
    display: block;
}

.container button{
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 20px;
    color: black;
    background: linear-gradient(right,orange,limegreen);
    cursor: pointer;
    
    ;

}