body {
    background-color: coral;
}

.container {
    border: 4px solid black;
    padding: 10px;
}

.head {
    color: darkblue;
}

#bglime {
    background-color: lime;
    color: red;
}

p {
    color: white;
}

#para {
    color: green;
}

#para::first-letter {
    color: black;
    font-size: 40px;
}

a {
    background-color: yellow;
}

ol li:nth-child(2) {
    color: blue;
}

ol li:nth-child(3) {
    color: red;
}